<html lang="en">
<head>
   <title>Traffic Light</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/mini-default.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div class="container">
   <div class="row">
      <div class="col-md-2">
         <h1>Traffic Light</h1>
      </div>
   </div>
   {% for pin in pins %}
      <div class="row">
         <div class="col-md-2">
            <div class="circle" id="{{pins[pin].name}}-{{pins[pin].state}}"></div>
         </div>
         <div class="col-md-3">
           {% if pins[pin].state == true %}
              <a href="/{{pin}}/off" class="button" role="button">Turn Off</a>
           {% else %}
              <a href="/{{pin}}/on" class="button" role="button">Turn On</a>
           {% endif %}
         </div>
      </div>
   {% endfor %}
</div>
</body>
</html>
