.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#red-on{
  background: #f22;
}

#red-off{
  background: #600000;
} 

#yellow-on{
  background: #ff0;
}

#yellow-off{
  background: #606000;
}

#green-on{
  background: #0f0;
}

#green-off{
  background: #006000;
}
